.root{
    -fx-background-color: #796878;
    -fx-font-family: 'Lato', sans-serif;
}

.label{
    -fx-font-weight: 700;
}

.list-view{
    -fx-font-size: 15px;
    -fx-background-radius: 5px;
    -fx-focus-color: transparent;
}

.text-area{
    -fx-font-size: 15px;
    -fx-focus-color: transparent;
}


